.open-sans-normal {
    font-style: normal;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    font-family: "Open Sans", sans-serif;
}

/* common style */
.text-primary {
    color: #FD6E0A;
}

.secondary-bg {
    background-color: #fff8f3;
}

.dark-2 {
    color: #474747;
}

/* banner style */
.banner {
    display: flex;
    margin: 0 35px 0 230px;
    justify-content: space-between;
}

/* .banner-content{
    max-width: 580;
} */

.banner-title {
    font-weight: bold;
    font-size: 85px;
}

.banner-description {
    font-size: 18px;
    margin-left: 300px;
    margin-bottom: 100px;
}


/* nav styles */
nav {
    display: flex;
    margin-top: 0;
    margin-left: 45px;
    margin-right: 45px;
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav li a {
    font-size: 20px;
    text-decoration: none;
}

/* main styles */
main {
    max-width: 1140px;
}

.btn-primary {
    font-size: large;
    width: 80px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #FD6E0A;
}

li:hover {
    border-radius: 5px;
    background-color: #ddd9aa;
}

.btn-primary {
    cursor: pointer;
}

/* about styles */
.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}

.section-title {
    font-size: 35ps;
    font-weight: bold;
    color: #181818;
}

.footer {
    max-width: 1140px;
    margin: 0 auto;
}
.copyrights{
    text-align: center;
}
.about-items{
    display: flex;
    justify-content: space-between;
}

.item-description{
    font-weight: 600;
}

.item-title{
    margin-top: 50px;
    color: #181818;
}